/* About me page related styles */
/* Usar roboto */

body.about_me {
    color: #e0f1ee; 
    background-color: #222;
    margin: 5% auto;
}

#title {
    color: #66f;
    text-align: center;
    /* background-color: #849dc4;
    width: 70em; */
    margin: 5em 17% auto auto;
    font-weight: normal;
    /* border-style: none;
    border-radius: 15px; */
    font-family: 'Sacramento', cursive;
    text-decoration: underline;
    text-decoration-color: #335;
    text-decoration-style: dashed;
}

div.programmer_gif {
    margin: auto;
    text-align: left;
    float: left;
    margin-left: 2em;
}

img.programmer_gif {
    width: 72%;
    height: 100%;
    border-style: none;
    border-radius: 150px;
}

div.introduction {
    text-align: center;
    width: 50em;
    margin: auto 30%;
    float: left;
    border-style: none;
    border-radius: 10px;
    padding: 3px 20px;  
    position: absolute;
}

div.stats {
    text-align: center;
    margin: 50%;
    position: absolute;
}

/* Combine selectors:
https://stackoverflow.com/questions/1028248/how-to-combine-class-and-id-in-css-selector
*/


hr.dots {
    border: dotted #335 6px;
    border-bottom: none;
    width: 4%;
    margin: 10em auto 10em 58%;
}

/*text decoration info:
https://www.w3schools.com/cssref/pr_text_text-decoration.php
*/