/* Clear browser cache after making changes :) */

* {
    font-family: Cascadia Code;
}

body.about_me {
    color: #e0f1ee; 
    background-color: #222;
}

h1 {
    font-size: 1.8em;
}

div.programmer_gif {
    margin: auto;
    text-align: center;
    float: left;
}

img.programmer_gif {
    width: 72%;
    border-style: none;
    border-radius: 150px;
}

#title {
    color: #66f;
    text-align: center;
    /* background-color: #849dc4;
    width: 70em; */
    margin: 5em 13% auto auto;
    font-weight: normal;
    /* border-style: none;
    border-radius: 15px; */
    font-family: 'Sacramento', cursive;
    text-decoration: underline;
    text-decoration-color: #335;
    text-decoration-style: wavy;
}

div.introduction {
    text-align: center;
    width: 50em;
    margin: auto 30%;
    float: left;
    border-style: none;
    border-radius: 10px;
    padding: 3px 20px;  
    position: absolute;
}

hr.dots {
    border: dotted #335 6px;
    border-bottom: none;
    width: 4%;
    margin: 80px auto;
    position: relative;
}

/*text decoration info:
https://www.w3schools.com/cssref/pr_text_text-decoration.php
*/