/* Topic's page related styles */

body.topic {
    color: #e0f1ee;
    margin: 5% auto;
}

h2#title {
    color: #66f;
    text-align: center;
    margin: 2em auto;
    font-family: 'Sacramento', cursive;
    
}

hr.undertitle {
    border: dotted #66f 2px;
    width: 200px;
    margin: 1em 1em;
}