<!DOCTYPE html>
<html>
{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<body class="about_me">

    <div class="programmer_gif">
        <img class="programmer_gif" src="{% static 'blog/img/programmer.gif' %}" alt="logo"/>
    </div>

    <div id="title">
        <h1>About me</h1>
    </div>

    <div class="introduction">
        <p>
            I'm Daniel, a self-taught programmer who is actually
            working in some stuff with Django. I'm not pretty sure about
            which field I wanna work in ¿Pentesting, Fullstack web, Data Analyst,
            Mobile development?
            I'm not sure yet, but I know I wanna be a programmer.
        </p>
    </div>

    <hr class="dots"/>

    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/daniel-atanasov-angelov-703a16217/">LinkedIn</a>
        <a class="footer-link" href="https://github.com/VarmiloVA">GitHub</a>
        <a class="footer-link" href="#">Portfolio</a>
    </div>

</body>
{% endblock content %}
</html>