<!DOCTYPE html>
<html>
{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<body>
    <div id="fullwidth"><img src="{% static 'blog/img/logo.ico' %}" alt="logo" height="200px" /></div>
    
    <h2 class="center">Who writes this posts?</h2>
    <p class="center">
        I'm Daniel, a self-taught programmer who is actually
        working in some stuff with Django. I'm not pretty sure about
        which field I wanna work in ¿Pentesting, Fullstack web, Data Analyst,
        Mobile development?
        I'm not sure yet, but I know I wanna be a programmer and I'm only 16,
        and for the moment I wanna have knowledge in almost all fields and,
        once I tried all spheres, I'll specialize.
    </p>
</body>
{% endblock content %}
</html>