<!DOCTYPE html>
<html>
{% extends "blog/base.html" %}
{% load static %}

<head>
    {% block extra_head %} 
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}" /> 

    {% endblock %}
    {% block title %} <title>Homepage</title> {% endblock %}
</head>

{% block content %}
<body>
    <div class="wrapper">
        <header>
            <a href="{% url 'blog:index' %}" class="logo" alt="Varmilo logo"><img class="logo" src="{% static 'blog/img/logo.png' %}"/></a>
            <nav>
                <ul>
                    <li><a class="active" href="{% url 'blog:index' %}">Home</a></li>
                    <li><a href="{% url 'blog:topics' %}">Topics</a></li>
                    <li><a href="#">About me</a></li>
                </ul>
            </nav> 
        </header>

        <main>
            <div class="blog">
                <div class="intro">
                    <h1>Dani's blog</h1>
                    <p class="subhead">
                        Welcome to my blog, I'll be posting articles about 
                        various topics such as coding, f1 and boxing.
                    </p>
                    <svg viewBox="0 0 19 9" fill="none">
                            <path d="M18.3536 4.85355C18.5488 4.65829 18.5488 4.34171 18.3536 4.14645L15.1716 0.964466C14.9763 0.769204 14.6597 0.769204 14.4645 0.964466C14.2692 1.15973 14.2692 1.47631 14.4645 1.67157L17.2929 4.5L14.4645 7.32843C14.2692 7.52369 14.2692 7.84027 14.4645 8.03553C14.6597 8.2308 14.9763 8.2308 15.1716 8.03553L18.3536 4.85355ZM0 5H18V4H0V5Z" fill="black"/>
                    </svg>
                </div>
                <div class="links">
                <!-- modificar los divs clickeables
                https://stackoverflow.com/questions/8160494/how-to-make-a-whole-div-clickable-in-html-and-css-without-javascript -->
                    <div class="specific-topics">
                        <!--Boxing as topic has id=4-->
                        <div class="topic1">
                            <a href="{% url 'blog:topic' topic_id=4 %}">
                                <div class="topic-details">
                                    <p>Boxing</p>
                                </div>     
                            </a>
                        </div>
                    

                        <!--Motorsport as topic has id=2-->
                        <div class="topic2">
                             <a href="{% url 'blog:topic' topic_id=2 %}">
                                <div class="topic-details">
                                    <p>Motorsport</p>
                                </div>
                            </a>
                        </div>
                        
                    
                    
                        <!--Data as topic has id=1-->
                        
                        <div class="topic3">
                            <a href="{% url 'blog:topic' topic_id=1 %}">
                                <div class="topic-details">
                                    <p>Data</p>
                                </div>
                            </a>
                        </div> 
                        
                    </div>
                    
                    <div class="other-topics">
                        <a href="{% url 'blog:topics' %}">More topics</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
{% endblock content %}
</html>