<!DOCTYPE html>
<html>
{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<head>
    <title>{{ topic }}</title>
    <link rel="stylesheet" href="{% static 'blog/css/topic.css'%}" />
</head>

<body class="topic">
    
    <h2 id="title">{{ topic }}</h2>

    <h4 id="subtitle">Contents</h4>
    <ul class="entries">
    {% for entry in entries %}
        <li>
            <p class="date_added">{{ entry.date_added | date:'d M [Y]' }}</p>
            <p class="entry-content">{{ entry.text | linebreaks }}</p>
        </li>
    {% empty %}
        <li>No entries for this topic yet.</li>
    {% endfor %}
    </ul>

</body>
{% endblock content %}
</html>